<!DOCTYPE html>
<html>
<head>
    <title>Travelly Home</title>
    <link rel="stylesheet" href="static/CSS/SearchResults.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@600&family=Ubuntu:ital@1&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Khula&display=swap" rel="stylesheet"><link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet"> <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,400&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body>


<header>
    <nav class="navbar">

        <div class="navright">
            <a href="{% url 'home-page' %}">Home</a>
            <a href="placeholder">Flights available</a>
            <a href="placeholder">Flood warnings</a>
            <a href="placeholder">Register</a>
            <a href="placeholder">Login</a>
        </div>

        <h1 class="#pageheading"> Travelly </h1>

    </nav>
    <div class="searchform">

        <h2>LET US SHOW YOU MORE ABOUT YOUR DESTINATION</h2>

        <form class="TraverSearch" method="GET" action="{% url 'searchResults' %}">
        <input type="search" id="fromInput" name="origin" value="{{ request.GET.origin }}" placeholder="Where are you flying from?"><br><br>
        <input type="search" id="toInput" name="destination" value="{{ request.GET.destination }}" placeholder="Where are you flying to?"><br><br>

        <input type="submit" id="SearchBtn" value="Search">
    </form>

    </div>

</header>



<div class="flightsEncountered">

{% block content %}

{% endblock %}

</div>

<script src="static/JSON/travelly.js"></script>
</body>


</html>

