{% extends 'defaultPageLayout.html' %}

{% block cssDirectory %}
    <link rel="stylesheet" href="/static/CSS/travellyMain.css">
{% endblock %}

{% block pageTitle %}
    <title>Home Page</title>
{% endblock %}

{% block content %}
<div class="aboutus">
    <h3>Who Are we?</h3><br>
    <p class="about">Founded in February of 2021,
        Travelly is a free<br> service that aims
        to get you to your perfect<br> destination where
        you can avoid places abroad <br>that may be bad for travel.
        Travelly connects<br> travellers to great travel experiences
        at <br> great value price points.
    </p>
    </p>
</div>

<div class="meetteam">
    <h2 id="meetteamheading"> TEAM IBEX</h2>
    <div style="float: left; padding: 2%; border-right: 1px solid #eab498;">
        <h5 style="margin-bottom:0;">Arthur Costa</h5>
        <p> Computer Hardware <br>and software engineering</p><br>
        <h5>Awais Mahmood</h5>
        <p> Course Title</p>
    </div>
    <div style="float: left; padding: 2%; border-right: 1px solid #eab498;">
        <h5 style="margin-bottom:0;">Kailand Wu</h5>
        <p> Course Title</p><br>
        <h5 style="margin-bottom:0;">Claire Egorp</h5>
        <p> Computer Hardware <br>and software engineering</p>
    </div>
    <div style="float: left; padding: 2%; border-right: 1px solid #eab498;">
        <h5 style="margin-bottom:0;">Joy Edosa</h5>
        <p> Business Information <br>Technology</p><br>
        <h5 style="margin-bottom:0;">Dev Singh</h5>
        <p> Course Title</p>
    </div>
    <div style="float: left; padding: 2%;">
        <h5 style="margin-bottom:0;">Conner Meeson</h5>
        <p> Computer Hardware <br>and software engineering</p><br>
        <h5 style="margin-bottom:0;">Ibukunoluwa Adegoke</h5>
        <p> Computer Science</p>
    </div>
</div>
{% endblock %}