
body{

    width: 100%;
    padding: 0;
    margin: 0;
    height: 300vh;
    background-image: white;
    overflow-x: visible;
    overflow-y: visible;
}

h1 {
  text-align-last: center;
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Rozha One', serif;*/
  /*padding-top:10%;*/
  font-size: 8vw;
  position: bottom right;
  /*margin: 0;*/
  Color: white;}

h2 {
  text-align-last: center;
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Noto Sans KR', sans-serif;*/
  padding: 5%;
  font-size: 1rem;
  position: center;
  margin: 0;
  color: white;
}

h3{
  font-family: 'Rozha One', serif;
  text-align-last: center;
  padding:3%;
  color: #eab498;
  font-size: 4rem;
  margin: 0;
}

h4{
  font-family: 'Yeseva One', cursive;
  font-size: 200%;
  padding: 4%;
  margin: 0;
}

header{
  left: 0;
  min-inline-size: fit-content;
  right: 0;
  padding: 0;
  background-size: contain;
  height: 100vh;  width: 100%;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  /*background-position: left, right;*/
  background-image: url("/static/CSS/images/greece wallpaper.jpg");

}





/*NAV BAR*/
.navright{
  float: right;
}



.navbar {
  height: 8vh;
  padding-left: 30%;
}


.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Khula', sans-serif;
}

.navbar a:hover {
  border-bottom: 0.5vw solid #eab498;;
  color: #eab498;
}

.navbar a.active {
  border-bottom: 0.5vw solid #001a00;
  color: white;
}


.travellyLogo{
  height: 30%;
  width: 30%;
  display: block;
  float: left;
}

   .searchform {
   /*padding-top: 10%;*/
    display: grid;
    place-items: center;
   }


  .TravelSearch {
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color:none;
  }


 /* search bar height and width properties */
  #toInput, #fromInput, #option1, #option2, #travelDate{
    height: 40px;
    width: 200px;
    background: rgba(0, 0, 0, 0);
    border-color: white;
  }
  #fromInput{
      border-radius:50px 2px 2px 50px;
  }
  #option2 , #travelDate{
      border-radius:2px 50px 50px 2px;
  }
  #toInput, #option{
      border-radius:2px;
  }

  #SearchBtn{
    height: 47px;
    width: 100px;
    text-align-last: center;
    align-items: center;
    border-radius:10px 10px 10px 10px;
    background-color:none;
    background: transparent;
    border-color: white;
    border-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-color: white;
  }
  #SearchBtn:hover {
  color: #001a00;
}

    .btn-text-center{
    text-align: center;
    padding: 2%;
    }


    .btn-text-center a{
    color: white;
    font-size: 1rem;
    }


#whatheading{
  font-family: 'Prata', serif;
  font-size: 1rem;
}

.column {
  float: left;
  width: 40%;
  padding: 3%;
  font-family: 'Poiret One', cursive;
  font-size: 1.2em;
}

#more {display: none;}

#myBtn{
    font-size: 1rem;
    color: #2eaa49;
    outline: none;
    border: none;
}

#content {
  overflow: hidden;
  height: 3em;
  line-height: 1em;
}

.column li{
  display: inline-block;
  list-style: none;
  color: black;

}


/*Mobile Specifications*/
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    padding: 10px

  }
  .navright a{
    float: left;
    font-size: 10px;

  }

  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }


 .slide{
  background-position: bottom right;
  background-size: 40%;

 }

 .slide-content{
   padding: 10%;
 }
  .tabs li {
    border: none;
  }
}

/*popup */
    .infobutton
    {
      width: 150px;
      padding: 10px;
      background-color: #ADDB1D;

      font-weight:bold;
      text-decoration:none;
    }
    #cover{
      position:fixed;
      top:0;
      left:0;
      background:rgba(0,0,0,0.6);
      z-index:5;
      width:100%;
      height:100%;
      display:none;
    }
    #moreinfo
    {
      height: 20vh;
      width: 340px;
      margin:0 auto;
      position:relative;
      z-index:10;
      display:none;
      background-color: #ADDB1D;
      border:5px solid #ADDB1D;
      border-radius:10px;
      padding: 5%;
    }
    #moreinfo:target, #moreinfo:target + #cover{
      display:block;
      opacity:2;
    }
    .cancel
    {
      display:block;
      position:absolute;
      top:3px;
      right:2px;
      background-color: #ADDB1D;
      color:black;
      height:30px;
      width:35px;
      font-size:30px;
      text-decoration:none;
      text-align:center;
      font-weight:bold;
    }

    .resultsTable{
    padding-top:50px;
    align-items:center;
    justify-content: center;
    font-size: x-large;
    }